:root {
    --font-color: #424242;
    --bg-color: #DBF2FF;
    --heading-color: #292922;
    --highlight: #FFF6A1;
}

[theme="dark"] {
    --font-color: #e1e1ff;
    --bg-color: #112C45;
    --heading-color: #e1e1ff;
    --highlight: #856BF1;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--bg-color);
    height: 100vh;
    overflow: hidden;
}

.outerdiv {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.nav{
    position: fixed;
    top:0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
}

header{
    float: right;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

h1 {
    width: 450px;
    font-family: 'Noto Sans', sans-serif; font-style: normal;
    font-weight: 600; font-size: 48px;line-height: 65px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    color: var(--heading-color)
}

h2 {
    width: 700px;
    font-family: 'Roboto', sans-serif; font-style: normal; font-weight: normal;
    font-size: 30px; line-height: 33px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    color: var(--font-color);
}

h2 a.link1, h2 a.link2 {
    box-shadow: inset 0 -0.15rem 0 0 var(--highlight);
    text-decoration: none;
}

h2 a.link1:hover, h2 a.link2:hover {
    box-shadow: inset 0 -0.9rem 0 0 var(--highlight);
}

h2 a.link1:visited, h2 a.link2:visited{
    color: var(--font-color);
}




#wood{
    display: block;
    margin-left: auto; margin-right: auto;
    width: 70%;
    position: relative;
    height: 70vh;
    object-fit: cover;
}

#laptop{
    position: absolute; 
    top: 190px;
    left: 515px;
}

#blog{
    position: absolute;
    top: 240px;
    left: 800px;
    transform: rotate(20deg);
}

#coffee {
    position: absolute;
    top: 80px;
    left: 750px;
    max-width: 90px;
    max-height: 90px;
}

#plant{
    position: absolute;
    top: 80px;
    left: 400px;
    max-width: 90px;
    max-height: 90px;
}

#headphones{
    position: absolute;
    top: 240px;
    left: 360px;
    transform: rotate(-20deg);
    max-width: 90px;
    max-height: 100px;
}

.project__screenshot{
    max-width: 550px;
    float: right;
    object-fit: contain;
}

.project__link{
    clear: right;
}


footer{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.7rem;
}

.onoffswitch {
    display: inline-block;
    position: relative; width: 131px;
    transform: translateY(17px);
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 45px; padding: 0; line-height: 38px;
    font-size: 30px; color: var(--font-color); font-family: 'Noto Sans', sans-serif; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "day";
    text-align: left;
    padding-left: 10px;
}
.onoffswitch-inner:after {
    content: "night";
    padding-right: 10px;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 10px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0; 
    right: 82px;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 5px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}