h1 {
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    font-weight: 700;
    margin: auto;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    line-height: 1.2;
    font-weight: 700;
    margin: auto;
    width: 100%;
    text-align: center;
}

.logo--text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    float: left;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 20px;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
}

.nav {
    background-color: #d6e5fa;
    overflow: hidden;
  }

/* Style the links inside the navigation bar */
.nav__item {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

li {
    list-style: none;
}

.intro {
    padding: 20px;
}

hr{
    width: 10%;
    color: #a6dcef;
    height: 1px;
}

p, h5 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
    padding: 10px;
    line-height: 1.5rem;
}

